<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="listneers">
	<listeners>
		<listener class-name="utility.listeners"></listener>
		</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="utility.listnersjava"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- listneers -->
